:root {
    --budi-dark-orange: #F55226;
    --budi-light-orange: #FFAB48;
}

/* FONTS */
@font-face {
    font-family: 'Yellowtail';
    src: url('./resources/Yellowtail-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bungee';
    src: url('./resources/Bungee-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./resources/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    --medium: 500;
    font-family: 'Roboto';
    src: url('./resources/Roboto-Medium.ttf');
    font-weight: var(--medium);
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./resources/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: var(--budi-light-orange);
}

.button {
    font-family: 'Bungee';
    font-size: 24px;
    border-radius: 4px;
    border: 0px;
    padding: 14px 24px;
    cursor: pointer;
}

.button-primary {
    background-color: var(--budi-dark-orange);
    color: white;
}

.button-tertiary {
    background-color: transparent;
    color: var(--budi-dark-orange);
}

.tab-bar {
    display: flex;
    padding: 14px 24px;
    background-color: rgba(255, 255, 255, 0.3);
    justify-content: space-between;
    border: 0px;
    border-radius: 16px;
    max-width: 480px;
    margin: 0 auto;
}

#shop-name {
    font-family: 'Yellowtail', sans-serif;
    font-size: 96px;
    color: var(--budi-dark-orange);
    margin: 40px 0;
}

header {
    text-align: center;
}

.section-title {
    font-family: Impact, sans-serif;
    font-size: 48px;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 24px 0;
}

.section {
    text-align: center;
    color: white;
    font-family: 'Roboto';
    font-weight: normal;
}

.timetable {
    display: flex;
    justify-content: center;
    gap: 45px;
}

.timetable > ul {
    list-style: none;
    padding: 0;
}

.timetable > ul > li {
    margin-bottom: 10px;
}

.timetable-days > li {
    font-weight: bold;
}